# ----------------------
# Node modules
# ----------------------
node_modules/
.pnpm-store/

# ----------------------
# Logs
# ----------------------
logs
*.log
npm-debug.log*
pnpm-debug.log*

# ----------------------
# Environment variables
# ----------------------
.env
.env.*
!.env.example

# ----------------------
# Build outputs
# ----------------------
dist/
build/
.client/dist/
.server/dist/

# ----------------------
# Vite
# ----------------------
.vite/

# ----------------------
# OS files
# ----------------------
.DS_Store
Thumbs.db

# ----------------------
# IDE files
# ----------------------
.vscode/
.idea/

# ----------------------
# Prisma
# ----------------------
prisma/dev.db
prisma/dev.db-journal

# ----------------------
# Coverage
# ----------------------
coverage/

# ----------------------
# Misc
# ----------------------
*.local
